body{
   
    background-image: url(heart.jpeg);
    background-size: 100%;
    font-family: cursive;
    font-size: 20px;
    background-repeat: no-repeat;
    margin: 2%;
    text-align: center;
    color: rgb(206, 54, 75);
    
}
.body2{
    background-size: 100%;
    font-family: cursive;
    font-size: 20px;
    margin: 2%;
    text-align: center;
    color: rgb(116, 78, 83);
    background-color: blanchedalmond;
}

.meio{
font-size: 18px;
text-align: center;
background-color: rgb(218, 147, 171);
color:rgba(0, 0, 0, 0.993)
}

.cifrar{
  text-align: left;  
}
.button{
    text-align: left;
	border-radius: 30%;
    padding: 10px;
}
    
.result{
    text-align: left;
}

.decifrar{
    text-align: right;
}
.button2{
    text-align: right;
    border-radius: 30%;
    padding: 10px;
    
}
.result2{
    text-align: right;
}

footer{
    color: black;
}


