body{
    background-image: url(C:/Users/lalah/Documents/Corações.png); 
    height: 100%;;
    background-size: 100%;
    font-family: cursive;
    font-size: 15px;
    background-repeat: no-repeat;
    margin: 2%;
    text-align: center;
    color: rgb(206, 54, 75);
}
main{
    color: black;
}